/* Global Styles */
.home-container {
    font-family: Arial, sans-serif;
   
    color: #004AAD;
    padding: 0;
    background-image: url('../../assets/background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px; /* Added bottom padding to avoid footer overlap */
}

.header {
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
    color: #ffffff;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 40px;
}

.map-container {
    margin-top: 40px;
    margin-bottom: 400px; 
    display: flex;
    justify-content: center;
}

.accommodations-section {
    background-color: transparent;
    margin-bottom: 60px; /* Added margin to create space between map and accommodation */
}

.accommodations-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.accommodation-item {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 30rem; /* Keeps the current width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accommodation-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.accommodation-name {
    font-size: 24px;
    color: #ffffff;
}

.rooms-title {
    font-size: 32px;
    margin-bottom: 40px;
    color: #004AAD;
}

.room-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.view-details-button {
    background-color: #004AAD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.view-details-button:hover {
    background-color: #003580;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.map {
    width: 80%;
    height: 50px;
}

@media (max-width: 768px) {
    .header {
        font-size: 28px;
    }

    .accommodation-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .rooms-title {
        font-size: 24px;
    }

    .map {
        width: 100%; 
        height: 200px;
    }
}
